<h1 id="tableLabel">Hacker News</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!hackerNews"><em>Loading...</em></p>
<p *ngIf="hackerNews">
  <em>We have data...</em><br /><br />

  <!--{{ hackerNews | json }}-->

</p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="hackerNews">
  <thead>
    <tr>
      <th>By</th>
      <!--<th>Decendants</th>-->
      <!--<th>Id</th>-->
      <!--<th>Kids</th>-->
      <th>Score</th>
      <!--<th>Time</th>-->
      <th>How Long Ago</th>
      <th>Title</th>
      <!--<th>Type</th>-->
      <th>Url</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of hackerNews">
      <td>{{ article.by }}</td>
      <!--<td>{{ article.decendants }}</td>-->
      <!--<td>{{ article.id }}</td>-->
      <!--<td *ngFor="let kid of article.kids">
          {{ kid }}
      </td>-->
      <td>{{ article.score }}</td>
      <!--<td>{{ article.time }}</td>-->
      <td>{{ article.howLongAgo }}</td>
      <td>{{ article?.title }}</td>
      <!--<td>{{ article.type }}</td>-->
      <td>{{ article?.url }}</td>
    </tr>
  </tbody>
</table>

