a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.navbar-light {
  /* light purple color */
  background-color: rgba(159, 168, 163, 0.80);
  
  /* background-color: #9fa8a3;*/
  /*background-color: rgba(61, 71, 191, 0.62);*/
}
